@model Web.Models.User

@{
    ViewBag.Title = "Climber Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Route</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Climbs)
    </div>
    @foreach (var item in Model.Climbs)
    {
        <div class="display-field">
            @Html.DisplayFor(modelItem => item)
        </div>
    }

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
