@model Web.Models.UserDetailsViewModel

@{
    ViewBag.Title = "Climber Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Climber</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.User.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.User.UserName)
    </div>
    
    @if (Model.LastSessionClimbs != null)
    {
        <div class="display-label">
            @Html.LabelFor(model => model.LastSessionClimbs)
        </div>
        foreach (var item in Model.LastSessionClimbs)
        {
            <div class="display-field">
                @Html.DisplayFor(modelItem => item)
            </div>
        }
    }

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
