@model Web.Models.Route

@{
    ViewBag.Title = "Route Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Route</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Grade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Grade.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DefaultClimbType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DefaultClimbType.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Climbs)
    </div>
    @foreach (var item in Model.Climbs)
    {
        <div class="display-field">
            @Html.DisplayFor(modelItem => item)
        </div>
    }

</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
