@model Web.Models.Climb

@{
    ViewBag.Title = "Create Climb";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Climb</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.RouteId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.RouteId, new SelectList(ViewBag.Routes, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.RouteId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ClimbTypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ClimbTypeId, new SelectList(ViewBag.ClimbTypes, "Id", "Name"))
            @Html.ValidationMessageFor(model => model.ClimbTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Attempts)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Attempts, new SelectList(Enumerable.Range(1,10)))
            @Html.ValidationMessageFor(model => model.Attempts)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Succeeded)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Succeeded)
            @Html.ValidationMessageFor(model => model.Succeeded)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
