@model IEnumerable<Web.Models.Climb>

@{
    ViewBag.Title = "Climbs";
}

<h2>Climbs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Climber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClimbType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attempts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Succeeded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Climber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClimbType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Attempts)
        </th>
        <td>
            @Html.DisplayFor(modelItem => item.Succeeded)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
    </tr>
}

</table>
