@model Domain.Grade

@{
    ViewBag.Title = "Grade Details";
}

<h2>@ViewBag.Title</h2>

<fieldset>
    <legend>Grade</legend>
    <div class="display-row">
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Name)
        </div>
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Routes)
    </div>
    @foreach (var item in Model.Routes)
    {
        <div class="display-field">
            @Html.DisplayFor(modelItem => item)
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
